.cookie-notice{
  position:fixed;
  width:100%;
  background-color:rgba(0,0,0,0.5);
  color:#ffffff;
  bottom:0;
  transform: translate(0, -10rem);
  z-index:10000;
  animation:cookie-notice-slide-in 1s ease-out forwards;
}
@keyframes cookie-notice-slide-in{
  0% {
    transform: translateY(10rem);
  }
  100%{
    transform:none;
  }
}
